* {
  margin: 0 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sans Serif Collection";
}
.ol-styled {
  text-align: left;
  color: black;
  font-size: 18px;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-bottom:10px;
  text-indent: 30px;
  text-justify: auto;
}
.body {
  background-color: #f7f7ff;
  align-items: center;
  text-align: center;
  display: block;
  flex-direction:column;
  margin-left: auto;
  margin-right: auto;
}
.footer-styled {
  background-color: #996515;
  margin-top: auto;          /* 5. Push the footer to the bottom, filling the remaining space with margin */
  /* Optional: add some styling to make the footer visible */
  padding: 20px;
  text-align: center;
}
.a-styled{
  text-decoration: none;
  display: inline-block;
  background-color: #CC5500;
  font-size: 18px;
  text-align: center;
  justify-content: center; /* Centers content horizontally */
  align-items: center;     /* Centers content vertically (optional) */
  height: 40px;
  color: white; /* Text color */
  border-radius: 5px; /* Rounds the corners of the button */
  font-weight: bold; /* Makes the text bold */
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.a-styled:hover{
  color: #CC5500;
  transition: all 0.3s ease;
}
.h1-styled {
  color: black;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}
.h2-styled {
   color: black;
   font-size: 22px;
   text-align: center;
   margin-bottom: 10px;
 }
.h3-styled {
  color: black;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.p-styled {
 color: black;
  font-size: 18px;
  text-align: left;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-bottom:10px;
  text-justify: auto;

}
.navbar {
  margin: 0;
  background: #000000;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar_logo {
  background-color: white;
  background-image: linear-gradient(to top, #CC5500 0%, #cccccc 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;

}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar_menu {
  display:flex;
  align-items:center;
  list-style: none;
  text-align: center;
}
.navbar_item{
  height: 80px;
}
.navbar_links {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  transition: all 0.3s ease;
}
.navbar_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: bisque;
  background: -webkit-linear-gradient(to right, #999999, #cccccc);
  color: #fff;
}
.navbar_links:hover{
  color: #c03221;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar_menu {
    display: grid;
    grid-template-columns:auto;
    margin: 0;
    width: 100%;
    position:absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }
  .navbar_menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;

  }

  #navbar_logo {
    padding-left: 25px;
  }
  .navbar_toggle.bar{
    width:25px;
    height: 3px;
    margin:5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  .navbar_item {
    width: 100%;
  }
  .navbar_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
}
