* {
  margin: 0 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sans Serif Collection", serif;
  line-height: 16pt;
}
.ol-styled {
  text-align: left;
  color: black;
  font-size: 18px;
  margin-left: 15vw;
  margin-bottom:10px;
  text-justify: auto;
}
.image_links{
  align-content: center;
  text-align: center;
}
.scroll-container {
  /* Set a maximum width and hide the overflow */
  align-content: center;
  margin-left: 15vw;
  width: 66.6vw;
  overflow: hidden;
  position: relative;
  /* Define the height of the gallery */
  height: 400px;
}

.image-wrapper {
  /* Use flexbox to arrange images horizontally */
  display: flex;
  white-space: nowrap;
  /* Set the animation properties */
  animation: autoscroll 20s linear infinite;
  /* Pause animation on hover */
  animation-play-state: running;
}

.image-wrapper:hover {
  animation-play-state: paused;
}

.image-wrapper img {
  /* Ensure images take up full height of container and maintain aspect ratio */
  height: 100%;
  width: auto;
  padding: 0 5px; /* Add some spacing between images */
  /* Prevent images from shrinking or stretching */
  flex-shrink: 0;
}

/* Define the scrolling animation */
@keyframes autoscroll {
  0% {
    /* Start position: 0% horizontal translation */
    transform: translateX(0);
  }
  100% {
    /* End position: Translate the width of the original image set to create a seamless loop */
    /* You may need to adjust this percentage based on image count/width */
    transform: translateX(-50%);
  }
}
.body {
  background-color: #f7f7ff;
  display: flex;
  flex-direction:column;
  min-height:100vh;
}
.footer-styled {
  background-color: #996515;
  margin-top: auto;          /* 5. Push the footer to the bottom, filling the remaining space with margin */
  /* Optional: add some styling to make the footer visible */
  padding: 20px;
  text-align: center;
  width:100vw;
}
.a-styled{
  text-decoration: none;
  display: inline-block;
  width: auto;
  background-color: #CC5500;
  font-size: 18px;
  height: 40px;
  color: white; /* Text color */
  border-radius: 12px; /* Rounds the corners of the button */
  font-weight: bold; /* Makes the text bold */
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  margin-top: 10px;
  margin-bottom: 10px;
}
.a-styled:hover{
  color: #000000;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.h1-styled {
  color: black;
  font-size: 24px;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 15vw;
}
.h2-styled {
   color: black;
   font-size: 22px;
  text-align: left;
   margin-bottom: 10px;
  margin-left: 15vw;
 }
.h3-styled {
  color: black;
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 15vw;
}
.p-styled {
 color: black;
  font-size: 18px;
  text-align: left;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom:10px;
  text-justify: auto;
}
.textbody {
  display: flex;
  background-color: #f7f7ff;
  text-align: left;
  flex-direction:column;
}
.navbar {
  margin: 0;
  background: #000000;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  z-index: 999;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar_logo {
  background-color: white;
  background-image: linear-gradient(to top, #CC5500 0%, #cccccc 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;

}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar_menu {
  display:flex;
  align-items:center;
  list-style: none;
  text-align: center;
}
.navbar_item{
  height: 80px;
}
.navbar_links {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  transition: all 0.3s ease;
}
.navbar_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}
.navbar_links:hover{
  color: #c03221;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  .navbar_container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-width: 768px;
    padding: 10px 0;

  }
  .image_links img{
    max-width: 100%;
    width:auto;
  }
  .navbar_menu {
    display: flex;          /* Use flex to stack */
    flex-direction: column; /* This does the stacking */
    position: relative;     /* Bring it back into the normal flow */
    top: 0;                 /* Remove the -1000px offset */
    width: 100%;
    opacity: 1;
    z-index: 1;
  }
  .navbar_menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar_logo {
  }
  .navbar_toggle.bar{
    width:25px;
    height: 3px;
    margin:5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  .navbar_item {
    width: 100%;

  }
  .navbar_links {
    text-align: center;
    padding: 2rem;
    width: 100%;

  }
}
